/* @import url('custom.css'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* * {
    border: 1px solid black;
} */

body {
    margin: 0;
    padding: 0;
    font-family: var(--main-font);
}

/* login */

#main-login.login-form {
    flex: 1;
    box-sizing: border-box;
}

#main-login h1.login {
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    letter-spacing: 0.02em;
}

#main-login label.login {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
}

#main-login input.kolom {
    height: 3em;
    border-radius: 10px;
}

#main-login button.btn {
    height: 3em;
    border-radius: 10px;
}

#main-login i.far.fa-eye {
    transform: scale(1.8);
    right: .8em;
    bottom: .67em;
}

#main-login button.btn {
    background-color: #3F4FC8;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.01em;
    height: 2.5em;
}

/* login end */

.hero {
    display: flex;
    flex: 1;
    background-color: #3F4FC8;
    border-top-left-radius: 12.5em;
    border-bottom-right-radius: 12.5em;
    box-sizing: border-box;
}

.hero .logo {
    width: 7em;
    height: 7em;
    top: 1.5em;
    right: 1.5em;
}

.hero .logo-img {
    width: 6.3125em;
    height: 4.375em;
}

.hero h4 {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #F8B94A;
}

.hero .desc {
    margin-left: 4em;
}

.hero .desc h1 {
    font-weight: bold;
    font-size: 37px;
    line-height: 55px;
    letter-spacing: 0.02em;
    color: white;
}

.hero span {
    color: #F8B94A;
}

.hero .desc p {
    font-weight: normal;
    font-size: 18px;
    line-height: 33px;
    color: #C5C5C5;
    letter-spacing: 0.02em;
}

@media only screen and (max-width: 660px) {

    .hero {
        display: none;
    }
}